<div class="comment" id="comment-box">
  <div class="avatar">
    <img src="<%= comment.author.picture %>">
  </div>

  <div class="content">
    <a href="/users/<%= comment.author.id %>" class="author"><%= comment.author.username %></a>

    <div class="metadata">
      <span class="date"><%= moment(comment.createdAt).fromNow() %></span>
    </div>

    <div class="text">
      <p><%= comment.text %></p>
    </div>
  </div>
</div>