<% include ../partials/header %>

<h1 class="ui huge header">Edit Post</h1>
<form action="/posts/<%= post._id %>?_method=PUT" method="POST" class="ui form">
  <div class="field">
    <label>Title:</label>
    <input type="text" name="post[title]" value="<%= post.title %>">
  </div>

  <div class="field">
    <label>Description:</label>
    <input type="text" name="post[description]" value="<%= post.description %>">
  </div>

  <div class="field">
    <label>Image:</label>
    <input type="text" name="post[image]" value="<%= post.image %>">
  </div>

  <div class="field">
    <label>Body:</label>
    <textarea name="post[body]"><%= post.body %></textarea>
  </div>

  <input class="ui inverted green button" type="submit" value="Post!">
</form>

<% include ../partials/footer %>