<% include ../partials/header %>


<div class="ui divided items">
  <div class="padded item">
    <div class="image">
      <img src="<%= post.image %>">
    </div>

    <div class="content">
      <div class="ui huge header"><%= post.title %></div>

      <div class="meta">
          <span><%= post.createdAt.toDateString() %> by <a href="/users/<%= post.author.id %>"><u><%= post.author.username %></u></a></span>
      </div>

      <div class="description">
          <p><span><%= post.description %></span></p>
      </div>
    </div>
  </div>

  <div><%- post.body %></div>
</div>

<% include ../partials/footer %>